n8n-workflow-update-instance.json
{
  "name": "Update WhatsApp Instance State",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "update-instance",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "webhook-update-instance",
      "name": "Webhook - Receive Update",
      "webhookId": "update-instance-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "instances",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "equals",
              "keyValue": "={{ $json.body.documentId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.body.state || '' }}"
            },
            {
              "fieldId": "qr",
              "fieldValue": "={{ $json.body.qr || null }}"
            },
            {
              "fieldId": "qr_loading",
              "fieldValue": "={{ $json.body.qr_loading || false }}"
            },
            {
              "fieldId": "profile_name",
              "fieldValue": "={{ $json.body.profile_name || null }}"
            },
            {
              "fieldId": "profile_pic_url",
              "fieldValue": "={{ $json.body.profile_pic_url || null }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.body.phone_number || null }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "supabase-update-instance",
      "name": "Supabase - Update Instance",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Instance updated successfully\",\n  \"documentId\": \"{{ $json.body.documentId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [680, 300],
      "id": "respond-success",
      "name": "Respond - Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Failed to update instance\",\n  \"error\": \"{{ $json.error.message }}\",\n  \"documentId\": \"{{ $('Webhook - Receive Update').item.json.body.documentId }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [680, 480],
      "id": "respond-error",
      "name": "Respond - Error"
    }
  ],
  "connections": {
    "Webhook - Receive Update": {
      "main": [
        [
          {
            "node": "Supabase - Update Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Instance": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp",
      "id": "whatsapp-tag"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-31T14:00:00.000Z",
  "versionId": "1"
}
